#changeBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* 투명도 0.5 */
}

#changeModalExit {
    position: absolute;
    top: 10px;
    left: 10px;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    font-size: 1rem;
    color: grey;
    cursor: pointer;
}

#changeModalExit::before {
    content: "\2716"; /* 유니코드로 "✖" 기호 */
    font-size: 1.5rem; /* 크기 조절 */
    font-weight: 100; /* 얇게 만들기 */
}

#changeModalContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;

    width: 80%;
    max-width: 320px;
    height: fit-content;
    padding-top: 40px;
    padding-bottom: 40px;

    border-radius: 20px;
    background: #FFF;
}

#changeModalHeader {
    width: 100%;
    height: fit-content;
    max-width: 250px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Inter, serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

#changeModalSection {
    margin-top:15px;
    width: 100%;
    max-width: 250px;
    height: fit-content;

    color: #000;
    text-align: center;
    font-family: Inter, serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#changeModalInputContainer {
    margin-top:10px;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: fit-content;
    height: fit-content;
}

#changeModalSubmit {
    width: 150px;
    height: 30px;
    flex-shrink: 0;
    margin-top : 25px;
    color: white;
    font-size: 12px;
    border-radius: 20px;
    background: #0063d4;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 400px) {
    #changeModalInputContainer {
        flex-basis: 80%; /* Full width for smaller screens */
    }
}
