#header {
    display: flex;
    position : absolute;
    padding-top : 15px;
    padding-bottom : 15px;
    height: 2rem;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;


    top : 0;
    left : 0;
    right: 0;
    width: 100vw;

    background: #E1022A;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
}

#header_sk {
    position : absolute;
    top : 15px;
    left : 20px;
    width: 35px;
    height: 35px;

    animation: ghost 0.8s /* 속도 */
    linear 0s   /* 처음부터 끝까지 일정 속도로 진행 */
    infinite alternate; /* 무한 반복 */
}

@keyframes ghost {
    0% {top: 12px; opacity : 1} /* 처음 위치 */
    100% {top: 17px; opacity : 0.5} /* 마지막 위치 */
}
#index_header_top_section {
    display: flex;
    margin-right: 3%;

    width: fit-content;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#index_header_top_article {
    display: flex;
    margin-top: 2px;
    width: fit-content;
    height: fit-content;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
#header_logo {
    width: 137px;
    height: 24px;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    font-family: Inter;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}

#join, #change, #view{
    width: 50px;
    height: 15px;
    color: white;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    font-family: Inter;
    font-size: 0.9rem;
    line-height: normal;
    cursor: pointer;
}

.section_top_image {
    width: min(90%, 450px);
    height: min(80%, 300px);
    flex-shrink: 0;
    object-fit: cover; /* 이미지를 요소에 맞추되 가로 세로 비율 유지 */

    border-radius: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);

}

#section_top {
    display: flex;
    position:absolute;
    height: 346px;
    padding-top : 15px;
    padding-bottom : 15px;
    align-items: center;

    flex-shrink: 0;
    gap: 20px;
    top : 4rem;
    left : 0;
    right: 0;

    width: 100%;
    background: white;

    overflow: visible;
    flex-wrap:nowrap;
    animation: bannermove 30s linear infinite;
}

@keyframes bannermove {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
    200% {
        transform: translateX(0); /* 200%에서 처음으로 돌아오도록 설정 */
    }
}

#section_bottom {
    display: flex;
    position:absolute;
    height: 284px;
    padding-top : 15px;
    padding-bottom : 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    flex-shrink: 0;

    top : 455px;
    left : 0;
    right: 0;
    width: 100vw;
    background: white;

    overflow-x: hidden;
    border-top: 0.1rem darkgray solid;
}

#user_login {
    display: flex;
    width: 20%;
    min-width: 230px;
    max-width: 280px;
    height: 40px;
    padding: 15px 81px;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;

    border-radius: 20px;
    background: #E1022A;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
    border: 1px solid #E1022A;

    cursor: pointer;
}

#admin_login {
    display: flex;
    width: 20%;
    min-width: 230px;
    max-width: 280px;
    height: 40px;
    padding: 15px 81px;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;

    border-radius: 20px;

    background: #EE7603;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
    border: 1px solid #EE7603;


    cursor: pointer;

}

#question {
    display: flex;
    width: 20%;
    min-width: 230px;
    max-width: 280px;
    height: 40px;
    padding: 15px 81px;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;

    border-radius: 20px;
    background: lightgray;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
    border: 1px solid lightgray;

    cursor: pointer;

}

#footer {
    display: flex;
    position : fixed;
    height: 1rem;
    padding-top : 15px;
    padding-bottom : 15px;
    justify-content: center;
    align-items: center;

    background: #E1022A;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30);

    bottom :0;
    left : 0;
    right: 0;
    width: 100vw;
}

#text1 {
    flex-shrink: 0;

    color: #FFF;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#text2 {
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#text3 {
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#footer_text {
    width: 400px;
    height: 20px;

    color: darkgray;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    font-family: Inter;
    font-size: 17px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}