<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- HTML 파일 문서 호환성을 edge버전으로 통일-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> <!-- HTML 4.0.1 버전 기준 문자인코딩 방식 정의 -->
    <!-- 현재 사용자가 접속한 디바이스의 가로 세로 길이에 맞게 앱 사이즈를 조절함. 초기, 최대, 최소 비율은 모두 1이며, 사용자가 드레그로 크기 조정 불가능-->
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale = 1.0, user-scalable=no">

    <!-- CSS 정의 -->
    <link rel = "stylesheet" href = "css/init.css">
    <link rel = "stylesheet" href = "css/admin/admin.css">

    <!-- 카카오 API를 사용하기 위한 라이브러리 선언-->
    <script type="text/JavaScript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script> Kakao.init('2e39201190179fe7cd5eb25903daba8a'); </script> <!--SDK를 초기화 (애플리케이션>앱설정>앱키:JAVASCRIPTKEY -->

    <!-- 자바스크립트 함수 정의 -->
    <script src = "../../JavaScript/unlinkWithKakao.js"></script>
    <script src = "../../JavaScript/loginAram.js"></script>
    <script src = "../../JavaScript/loadingOn.js"></script>
    <script src = "../../JavaScript/loadingOff.js"></script>
    <script src = "../../JavaScript/adminDateSearch.js"></script>
    <script src = "../../JavaScript/scheduleCard.js"></script>
    <script src = "../../JavaScript/scheduleCard.js"></script>

    <script src = "../../JavaScript/getCurrEndDate.js"></script>
    <script src = "../../JavaScript/getCurrentDate.js"></script>
    <script src = "../../JavaScript/getDates.js"></script>

    <script src = "../../JavaScript/modifyBtn.js"></script>
    <script src = "../../JavaScript/newBtn.js"></script>
    <script src = "../../JavaScript/deleteBtn.js"></script>

    <title>SK GHOST ADMIN</title>

</head>
<script>
</script>

<body id = "body">
<input type="hidden" id="flagValue" th:value="${flag}" />
<input type="hidden" id="firstValue" th:value="${firstValue}" />
<!-- 메인 해더-->
<header id = "header">
    <img id="header_sk" src="css/images/Ghost.png" alt="location images" style="cursor: pointer;" onclick="window.location.href = '/'"> <!-- GHOST 트레이드 마크 -->
    <span id = "header_logo">SK GHOST SE</span> <!-- GHOST text -->
</header>

<section id = "section_date">
    <form id = "dateForm">
        <input type="date" id="date-range-start" name="date-range-start"> <!-- 시작일 -->
        <span> to </span>
        <input type="date" id="date-range-end" name="date-range-end"> <!-- 종료일 -->
        <input type="submit" id = "date_submit" value="Search">
    </form>


</section>
<!-- 전체 seciton은 top과 bottom으로 구성된다.-->
<section id="section_top">
    <div id="image-container">

    </div>
</section>

<!-- 메인 푸터  -->
<footer id = "footer">
    <!-- 스케줄 수정 -->
    <button id = "modify_schedule">
        <span id = "text1">Modify</span>
    </button>

    <!-- 스케줄 생 -->
    <button id = "new_schedule" onClick="newBtn()">
        <span id = "text2">New</span>
    </button>

    <!-- 스케줄 삭제-->
    <button id = "delete_schedule">
        <span id = "text3">Delete</span>
    </button>
</footer>
</body>

<script>
    // Online 또는 Offline 상태 변경 시 발생하는 이벤트
    window.addEventListener('online', function () {
        // 온라인 상태
        console.log('온라인 상태입니다.');
    });

    window.addEventListener('offline', function () {
        window.location.href = "/"
        // 오프라인 상태
        alert('인터넷 연결이 끊겼습니다. 다시 연결 후 시도하세요.');
    });
</script>

<script>
    loadingOn()
    let usedLogoAlarm = document.getElementById("header_logo");
    let used = document.getElementById("flagValue").value;
    console.log("used 값 : " + used)
    if (used !== "") {
        alert("현재 " + used + " 운영자님 수정 중이며 조회만 가능합니다.\n페이지 새로고침을 통해 완료 여부를 확인할 수 있습니다.")
        loadingOff()
        usedLogoAlarm.style.fontSize = "20px";

        usedLogoAlarm.innerText = "현재 " + used + " manager님 수정 중";
    }
    else {
        let xhr1 = new XMLHttpRequest();
        xhr1.open('POST', '/getUsedName', true);
        xhr1.setRequestHeader("Content-Type", "application/json");
        xhr1.send(JSON.stringify({"date": "usedDateName"}));

        xhr1.onload = function () {
            if (xhr1.status === 200) {
                let res = xhr1.responseText
                if (res !== "False") {
                    usedLogoAlarm.style.fontSize = "20px";
                    alert("현재 " + res + " 운영자님 수정 중이며 조회만 가능합니다.\n페이지 새로고침을 통해 완료 여부를 확인할 수 있습니다.")
                    usedLogoAlarm.innerText = "현재 " + res + " manager님 수정 중";
                }
            }
            else {
                alert("인터넷 접속을 확인하세요.\n재시도 부탁드립니다.")
                window.location.href = "/"
            }
        }

        // 넷웤이 없는데 요청할때 실행
        xhr1.onerror = function () {
            alert("인터넷 접속을 확인하세요.\n재시도 부탁드립니다.")
            window.location.href = "/"
        };
    }
</script>
<script>
    let userId;
    let userImage;
    // 사용자가 OP 페이지에 들어오면 카카오톡 프로필, 이름을 애니메이션으로 보여준다.
    Kakao.Auth.getStatusInfo(function(statusObj) {
        if (statusObj.status === 'connected') {
            userId = statusObj.user.properties.nickname
            userImage = statusObj.user.kakao_account.profile.profile_image_url

            // 버튼 요소 가져오기
            let button = document.getElementById('modify_schedule');

            // 클릭 이벤트에 리스너 등록
            button.addEventListener('click', function() {

                let startTag = document.getElementById('date-range-start');
                let endTag = document.getElementById('date-range-end');

                // 시작일과 종료일의 값을 가져옴
                const startD = startTag.value;
                const endD = endTag.value;

                const startDate = new Date(startD);
                const endDate = new Date(endD);
                const daysDifference = (endDate - startDate) / (1000 * 60 * 60 * 24);
                console.log("수정 시 날짜 차이", daysDifference)

                // 시작일과 종료일이 모두 입력되었고, 시작일이 종료일보다 작은 경우
                if (startD && endD && startD <= endD) {
                    if (daysDifference > 180) {
                        alert('6달 이하로 수정 부탁드립니다.');
                        startTag.value = getCurrentDate();
                        endTag.value = getCurrEndDate();
                    }
                    else {
                        modifyBtn(startD, endD);
                    }

                }
                else {
                    alert('시작일은 종료일보다 작아야 합니다. 다시 입력해주세요.');
                    startTag.value = getCurrentDate();
                    endTag.value = getCurrEndDate();
                }
            });

            // 버튼 요소 가져오기
            let deleteButton = document.getElementById('delete_schedule');

            // 클릭 이벤트에 리스너 등록
            deleteButton.addEventListener('click', function() {

                let startTag = document.getElementById('date-range-start');
                let endTag = document.getElementById('date-range-end');

                // 시작일과 종료일의 값을 가져옴
                const startD = startTag.value;
                const endD = endTag.value;

                const startDate = new Date(startD);
                const endDate = new Date(endD);
                const daysDifference = (endDate - startDate) / (1000 * 60 * 60 * 24);
                console.log("수정 시 날짜 차이", daysDifference)


                // 시작일과 종료일이 모두 입력되었고, 시작일이 종료일보다 작은 경우
                if (startD && endD && startD <= endD) {
                    if (daysDifference > 180) {
                        alert('6달 이하로 수정 부탁드립니다.');
                        startTag.value = getCurrentDate();
                        endTag.value = getCurrEndDate();
                    }
                    else {
                        deleteBtn(startD, endD);
                    }

                }
                else {
                    alert('시작일은 종료일보다 작아야 합니다. 다시 입력해주세요.');
                    startTag.value = getCurrentDate();
                    endTag.value = getCurrEndDate();
                }
            });

            // search 버튼을 누를시 호출되는 함수
            adminDateSearch();

            // 시작일과 종료일의 input 요소를 가져옴
            const startDateInput = document.getElementById('date-range-start');
            const endDateInput = document.getElementById('date-range-end');

            startDateInput.value = getCurrentDate();
            endDateInput.value = getCurrEndDate()

            // 시작일과 종료일의 값을 가져옴
            const startDateString = startDateInput.value;
            const endDateString = endDateInput.value;

            // 값을 console에 출력
            const startDate = new Date(startDateString);
            const endDate = new Date(endDateString);
            console.log('시작일:', startDateString);
            console.log('종료일:', endDateString);
            //console.log(getDates(startDate, endDate));
            let cards = getDates(startDate, endDate);
            console.log(cards)

            let xhr1 = new XMLHttpRequest();
            let payloadFront = {"date": cards};
            xhr1.open('POST', '/getSchedule', true);
            xhr1.setRequestHeader("Content-Type", "application/json");
            xhr1.send(JSON.stringify(payloadFront));

            xhr1.onload = function () {
                if (xhr1.status === 200) {
                    let results = JSON.parse(xhr1.response);
                    console.log(results);

                    let idx = 0
                    for (let card of cards){
                        const dateObject = new Date(`${card}T00:00:00-05:00`);
                        const options = {weekday: 'short', timeZone: 'America/New_York'};
                        const dayOfWeek = dateObject.toLocaleDateString('en-US', options);

                        // DOM 에서 동적으로 카드르 만들어 배열에 저장. 붙이기는 정렬 후 한번에 수행하게 됨.
                        scheduleCard(results[idx], dayOfWeek, card);
                        idx += 1
                    }

                    // 초기 로딩이 끝나면, off
                    let isItFirst = document.getElementById("firstValue").value;
                    console.log("isItFirst 값 : " + isItFirst)
                    if (isItFirst === "true") {
                        loginAram(userImage, userId)
                    }
                    loadingOff()
                }
                else {
                    alert("네트워크 문제로 카카오 로그인 실패\n재시도 부탁드립니다.")
                    window.location.href = "/"
                }
            }

            xhr1.timeout = 10000;

            // 서버에서 일정시간 응답이 없을 때,
            xhr1.ontimeout = function () {
                alert("네트워크 문제로 카카오 로그인 실패\n재시도 부탁드립니다.")
                window.location.href = "/"
            };

            // 넷웤이 없는데 요청할때 실행
            xhr1.onerror = function () {
                alert("네트워크 문제로 카카오 로그인 실패\n재시도 부탁드립니다.")
                window.location.href = "/"
            };
        }
        else {
            window.location.href = "/"
            loadingOff()
            alert("로그인 세션 만료\n 재로그인 부탁드립니다.")
        }
    })
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let container = document.getElementById('image-container');

        container.addEventListener('wheel', function (e) {
            container.scrollLeft += e.deltaY;
            e.preventDefault();
        });
    });
</script>

</html>