<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- HTML 파일 문서 호환성을 edge버전으로 통일-->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> <!-- HTML 4.0.1 버전 기준 문자인코딩 방식 정의 -->
  <!-- 현재 사용자가 접속한 디바이스의 가로 세로 길이에 맞게 앱 사이즈를 조절함. 초기, 최대, 최소 비율은 모두 1이며, 사용자가 드레그로 크기 조정 불가능-->
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale = 1.0, user-scalable=no">

  <!-- CSS 정의 -->
  <link rel = "stylesheet" href = "css/init.css">
  <link rel = "stylesheet" href = "css/login/login.css">
  <link rel = "stylesheet" href = "css/OP/EndReport.css">
  <link rel = "stylesheet" href = "css/login/emailSubmit.css">
  <link rel = "stylesheet" href = "css/login/emailAuth.css">
  <link rel = "stylesheet" href = "css/login/emailAuth.css">
  <link rel = "stylesheet" href = "css/login/emailSignUp.css">
  <link rel = "stylesheet" href = "css/login/changeInfo.css">



  <!-- 카카오 API를 사용하기 위한 라이브러리 선언-->
  <script type="text/JavaScript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
  <script> Kakao.init('2e39201190179fe7cd5eb25903daba8a'); </script> <!--SDK를 초기화 (애플리케이션>앱설정>앱키:JAVASCRIPTKEY -->

  <!-- 자바스크립트 함수 정의 -->
  <script src = "../../JavaScript/unlinkWithKakao.js"></script>
  <script src = "../../JavaScript/loginAram.js"></script>
  <script src = "../../JavaScript/loadingOn.js"></script>
  <script src = "../../JavaScript/loadingOff.js"></script>

  <script src = "../../JavaScript/loginOPWithKakao.js"></script>
  <script src = "../../JavaScript/loginWithKakaoForAdmin.js"></script>
  <script src = "../../JavaScript/unlinkWithKakao.js"></script>
  <script src = "../../JavaScript/questionFunction.js"></script>
  <script src = "../../JavaScript/refreshAccessToken.js"></script>
  <script src = "../../JavaScript/joinFunction.js"></script>
  <script src = "../../JavaScript/userInfoChangeFuntion.js"></script>
  <script src = "../../JavaScript/emailSubmit.js"></script>
  <script src = "../../JavaScript/emailAuth.js"></script>
  <script src = "../../JavaScript/signUp.js"></script>
  <title>SK GHOST MAIN</title>

</head>

<body id = "body">
<!-- 메인 해더-->
<header id = "header">
  <!-- GHOST 트레이드 마크 -->
  <img id="header_sk" src="css/images/Ghost.png" alt="location images" style="cursor: pointer;" onclick="window.location.href = '/'">
  <span id = "join">Join</span>
  <span id = "change">Change</span>
  <span id = "header_logo">SK GHOST</span> <!-- GHOST text -->
</header>

<!-- 전체 seciton은 top과 bottom으로 구성된다.-->
<section id = "section_top">
  <!-- 추가할 이미지가 있다면 class는 아래와 같이 동일하게 하며, 이미지의 경로만 변경하여 아래 누적하여 추가하면 됨.-->
  <img class = "section_top_image" src="css/images/Main1.jpg" alt = "location images">
  <img class = "section_top_image" src="css/images/Main2.jpg" alt = "location images">
  <img class = "section_top_image" src="css/images/Main3.jpg" alt = "location images">
  <img class = "section_top_image" src="css/images/Main1.jpg" alt = "location images">
  <img class = "section_top_image" src="css/images/Main2.jpg" alt = "location images">
  <img class = "section_top_image" src="css/images/Main3.jpg" alt = "location images">
</section>

<section id = "section_bottom">
  <!-- 사용자 로그인 버튼 -->
  <button id = "user_login" onClick="loginOPWithKakao()">
    <span id = "text1">AE Login</span>
  </button>

  <!-- 운영자 로그인 버튼  -->
  <button id = "admin_login" onClick="loginWithKakaoForAdmin()">
    <span id = "text2">SE Login</span>
  </button>

  <!-- 질문 하기 버튼  -->
  <button id = "question" onClick="questionFunction()">
    <span id = "text3">Ask me</span>
  </button>
</section>

<!-- 메인 푸터  -->
<footer id = "footer">
  <span id ="footer_text">You are best</span>
</footer>
</body>
<script>
  // Online 또는 Offline 상태 변경 시 발생하는 이벤트
  window.addEventListener('online', function () {
    // 온라인 상태
    console.log('온라인 상태입니다.');
  });

  window.addEventListener('offline', function () {
    window.location.href = "/"
    // 오프라인 상태
    alert('인터넷 연결이 끊겼습니다. 다시 연결 후 시도하세요.');
  });
</script>

<script>
  // 쿠키를 지원하는지 확인
  function areCookiesEnabled() {
    try {
      document.cookie = "testcookie=test; SameSite=None; Secure";
      let cookieEnabled = document.cookie.indexOf("testcookie") !== -1;
      return cookieEnabled;
    } catch (e) {
      return false;
    }
  }

  // 쿠키 사용 여부 확인
  if (!areCookiesEnabled()) {
    // 쿠키를 사용하지 않을 경우 사용자에게 알림 표시
    alert("쿠키를 허용해주세요. 사이트의 일부 기능이 작동하지 않을 수 있습니다.");
  }

</script>

<script>
  // span 태그를 가져옵니다.
  let changeSpan = document.getElementById("change");

  // 클릭 이벤트에 대한 리스너를 추가합니다.
  changeSpan.addEventListener("click", function() {
    userInfoChangeFuntion();
  })

  // span 태그를 가져옵니다.
  let joinSpan = document.getElementById("join");

  // 클릭 이벤트에 대한 리스너를 추가합니다.
  joinSpan.addEventListener("click", function() {
    joinFunction();
  })

</script>

</html>