<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- HTML 파일 문서 호환성을 edge버전으로 통일-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> <!-- HTML 4.0.1 버전 기준 문자인코딩 방식 정의 -->
    <!-- 현재 사용자가 접속한 디바이스의 가로 세로 길이에 맞게 앱 사이즈를 조절함. 초기, 최대, 최소 비율은 모두 1이며, 사용자가 드레그로 크기 조정 불가능-->
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale = 1.0, user-scalable=no">

    <!-- CSS 정의 -->
    <link rel = "stylesheet" href = "css/init.css">
    <link rel = "stylesheet" href = "css/admin/newAdmin2.css">

    <!-- 카카오 API를 사용하기 위한 라이브러리 선언-->
    <script type="text/JavaScript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script> Kakao.init('2e39201190179fe7cd5eb25903daba8a'); </script> <!--SDK를 초기화 (애플리케이션>앱설정>앱키:JAVASCRIPTKEY -->

    <!-- 자바스크립트 함수 정의 -->
    <script src = "../../JavaScript/unlinkWithKakao.js"></script>
    <script src = "../../JavaScript/loginAram.js"></script>
    <script src = "../../JavaScript/loadingOn.js"></script>
    <script src = "../../JavaScript/loadingOff.js"></script>

    <title>New Admin</title>

</head>
<script>
</script>

<body id = "body">
<!-- 메인 해더-->
<header id = "header">
    <img id = "header_sk" src="css/images/Ghost.png" alt = "location images"> <!-- GHOST 트레이드 마크 -->
    <span id = "header_logo">New Admin</span> <!-- GHOST text -->
</header>

<section id = "section_date">
    <form id = "dateForm">
        <input type="date" id="date-range-start" name="date-range-start"> <!-- 시작일 -->
        <span> to </span>
        <input type="date" id="date-range-end" name="date-range-end"> <!-- 종료일 -->
        <input type="submit" id = "date_submit" value="Submit">
    </form>


</section>
<!-- 전체 seciton은 top과 bottom으로 구성된다.-->
<section id="section_top">
    <div id="image-container">

    </div>
</section>

<!-- 메인 푸터  -->
<footer id = "footer">
    <!-- 스케줄 수정 -->
    <button id = "modify_schedule" onClick="loginOPWithKakao()">
        <span id = "text1">Modify</span>
    </button>

    <!-- 스케줄 생 -->
    <button id = "new_schedule" onClick="loginWithKakaoForAdmin()">
        <span id = "text2">New</span>
    </button>
</footer>
</body>

<script>
    adminDateSearch();

    // 시작일과 종료일의 input 요소를 가져옴
    const startDateInput = document.getElementById('date-range-start');
    const endDateInput = document.getElementById('date-range-end');

    startDateInput.value = getCurrentDate();
    endDateInput.value = getCurrEndDate()

    // 시작일과 종료일의 값을 가져옴
    const startDateString = startDateInput.value;
    const endDateString = endDateInput.value;

    // 값을 console에 출력
    const startDate = new Date(startDateString);
    const endDate = new Date(endDateString);
    console.log('시작일:', startDateString);
    console.log('종료일:', endDateString);
    //console.log(getDates(startDate, endDate));
    let cards = getDates(startDate, endDate);
    console.log(cards)

    async function processCards() {
        for (let card of cards) {
            await processCard(card);
        }
    }

    // 각 날짜에 대한 비동기 작업을 수행하는 함수
    function processCard(card) {
        return new Promise(resolve => {
            let xhr1 = new XMLHttpRequest();
            let payloadFront = {"date": card};
            xhr1.open('POST', '/getSchedule', true);
            xhr1.setRequestHeader("Content-Type", "application/json");
            xhr1.send(JSON.stringify(payloadFront));

            xhr1.onload = function () {
                let results = JSON.parse(xhr1.response);
                console.log(results);

                const dateString = results[0]?.date || "";
                let dayOfWeek = "";

                if (dateString) {
                    const dateObject = new Date(`${dateString}T00:00:00-05:00`);
                    const options = {weekday: 'short', timeZone: 'America/New_York'};
                    const dayOfWeekString = dateObject.toLocaleDateString('en-US', options);
                    dayOfWeek = dayOfWeekString;
                }

                // DOM 에서 동적으로 카드르 만들어 배열에 저장. 붙이기는 정렬 후 한번에 수행하게 됨.
                scheduleCard(results, dayOfWeek, card);

                resolve();
            }
        });
    }

    // 비동기 작업을 순차적으로 실행
    processCards();

</script>
</html>