<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- HTML 파일 문서 호환성을 edge버전으로 통일-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> <!-- HTML 4.0.1 버전 기준 문자인코딩 방식 정의 -->
    <!-- 현재 사용자가 접속한 디바이스의 가로 세로 길이에 맞게 앱 사이즈를 조절함. 초기, 최대, 최소 비율은 모두 1이며, 사용자가 드레그로 크기 조정 불가능-->
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale = 1.0, user-scalable=no">

    <!-- CSS 정의 -->
    <link rel = "stylesheet" href = "css/init.css">
    <link rel = "stylesheet" href = "css/admin/newAdmin.css">

    <!-- 카카오 API를 사용하기 위한 라이브러리 선언-->
    <script type="text/JavaScript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script> Kakao.init('2e39201190179fe7cd5eb25903daba8a'); </script> <!--SDK를 초기화 (애플리케이션>앱설정>앱키:JAVASCRIPTKEY -->

    <!-- 자바스크립트 함수 정의 -->
    <script src = "../../JavaScript/unlinkWithKakao.js"></script>
    <script src = "../../JavaScript/loginAram.js"></script>
    <script src = "../../JavaScript/loadingOn.js"></script>
    <script src = "../../JavaScript/loadingOff.js"></script>
    <script src = "../../JavaScript/createScheduleCard.js"></script>
    <script src = "../../JavaScript/createCardStored.js"></script>

    <title>New Schedule</title>

</head>
<script>
</script>

<body id = "body">
<!-- 메인 해더-->
<header id = "header">
    <img id = "header_sk" src="css/images/Ghost.png" alt = "location images"> <!-- GHOST 트레이드 마크 -->
    <span id = "header_logo">New Admin</span> <!-- GHOST text -->
</header>

<section id = "section_date">
    <h1 id="slider-value">1</h1>
</section>
<!-- 전체 seciton은 top과 bottom으로 구성된다.-->
<section id="section_top">
    <div id="image-container">

    </div>
</section>

<!-- 메인 푸터  -->
<footer id = "footer">
    <input type="range" id="slider" name="slider" min="1" max="7" value="1" step="1" oninput="updateValue()">
    <form id = "doneForm">
        <input type="submit" id = "doneBtn" value="Done">
    </form>

    <form id = "startForm">
        <input type="submit" id = "startBtn" value="Start?">
    </form>
</footer>
</body>

<!-- 최초 접속 시 고유 UUID 생성 -->
<script>

</script>
<!-- 현재 브라우저를 나갈 시 경고 창 띄우기 -->
<script>

</script>


<!-- getCurrentDate => 오늘 날짜 불러오는 함수 지정 -->
<script>
    document.getElementById('slider').disabled = true; // 활성화
    document.getElementById('startBtn').disabled = true; // 활성화
    document.getElementById('doneForm').style.display = 'none'; // 제출 버튼 비활성화
    document.getElementById('doneBtn').style.display = 'none'; // 제출 버튼 비활성화
    function getCurrentDate() {
        const today = new Date();
        const year = today.getFullYear();
        let month = today.getMonth() + 1;
        let day = today.getDate();

        // 한 자리수인 경우 앞에 0을 추가
        month = month < 10 ? '0' + month : month;
        day = day < 10 ? '0' + day : day;

        return `${year}-${month}-${day}`;
    }
</script>

<!-- 카드 마우스 흴 이벤트 -->
<script>
    const Container = document.getElementById("image-container");
    document.addEventListener('DOMContentLoaded', function () {
        let container = document.getElementById('image-container');

        container.addEventListener('wheel', function (e) {
            container.scrollLeft += e.deltaY;
            e.preventDefault();
        });
    });
</script>

<!-- 처음 페이지가 실행되면 DB에서 가장 마지막 날짜 + 1 날짜를 가져옴 + default 1개 출력  -->
<script>
    let date = null;
    let dayOfWeek = null;
    let cardInfo = []

    // 이 계정이 등록되어 있는 DB 조회하여 판단.
    let xhr1 = new XMLHttpRequest(); // REST API 통신을 위한 객체
    xhr1.open('POST', '/adminShiftLastDate', true); // REST 정의
    xhr1.setRequestHeader("Content-Type", "application/json"); // 요청 해더 정의 > payload는 Json
    xhr1.send(JSON.stringify({"date" : date})) // 서버로 POST 전송

    // 서버 응답
    xhr1.onload = function () {
        let results = xhr1.responseText; // 서버에서 전달 받은 payload
        if (results === "False") {
            alert("DB에 스케줄 정보가 없습니다. \n오늘 날짜를 기준으로 만드세요!")
            date = getCurrentDate();
        }
        else { date = results }

        let newYorkTimeZone = "America/New_York";

        // 주어진 날짜를 Date 객체로 변환하고 뉴욕 시간으로 설정
        let dateInNewYork = new Date(date + "T00:00:00");
        dateInNewYork.toLocaleString("en-US", { timeZone: newYorkTimeZone });

        // 날짜의 요일을 가져오기
        dayOfWeek = dateInNewYork.toLocaleDateString("en-US", { weekday: "long" });
        Container.appendChild(createCardStored([], dayOfWeek, date))


        //처음 페이지가 실행되면 DB에서 가장 마지막 날짜 + 1 날짜를 가져옴 + default 1개 출력
        cardInfo = []
        let dateArray = [];

        let startDate = new Date(date);
        let endDate = new Date(startDate);
        endDate.setDate(startDate.getDate() + 6);

        // 7일 날짜 정보
        while (startDate <= endDate) {
            let formattedDate = startDate.toISOString().split('T')[0];
            dateArray.push(formattedDate);
            startDate.setDate(startDate.getDate() + 1);
        }

        // DB에서 조회된 날짜 + 7일 정보 저장.
        for(let dateVal of dateArray) {
            console.log(dateVal)
            let newYorkTimeZone = "America/New_York";

            // 주어진 날짜를 Date 객체로 변환하고 뉴욕 시간으로 설정
            let dateInNewYork = new Date(dateVal + "T00:00:00");
            dateInNewYork.toLocaleString("en-US", { timeZone: newYorkTimeZone });

            // 날짜의 요일을 가져오기
            let dayOfWeek = dateInNewYork.toLocaleDateString("en-US", { weekday: "long" });
            cardInfo.push(createCardStored([], dayOfWeek, dateVal))
        }
        console.log(cardInfo)
        document.getElementById('slider').disabled = false; // 활성화
        document.getElementById('startBtn').disabled = false; // 활성화
    }
</script>

<!-- 슬라이더가 움직일 때마다 감지하여 호출되는 함수 -->
<script>
    // JavaScript 코드
    function updateValue() {
        const slider = document.getElementById('slider');
        const sliderValue = document.getElementById('slider-value');
        const value = slider.value;

        sliderValue.textContent = value;

        //다 지우기.
        let imageContainer = document.getElementById("image-container");

        while (imageContainer.firstChild) {
            imageContainer.removeChild(imageContainer.firstChild);
        }

        // 다 찍기.
        for(let i = 0; i < value; i++) {
            Container.appendChild(cardInfo[i])
        }
    }
</script>

<!-- 슬라이더 설정후 Start 버튼 클릭시 이벤트 -->
<!-- 서버의 세션을 확인하여 한 사람 접속하도록 한다. -->
<script>
    const dateForm = document.getElementById('startForm');

    // submit 이벤트가 발생하면 실행되는 함수
    dateForm.addEventListener('submit', function(event) {
        // 폼의 기본 동작을 막음 (페이지 새로고침 방지)
        event.preventDefault();

        /*
        * 현재 로그인 시도한 사용자의 Id가져오기.
        * */

        let xhr = new XMLHttpRequest();
        xhr.open("GET", "/uniquePage?id=gkrry1424@naver.com", true);

        xhr.onload = function() {
            if (xhr.status === 200) {
                let response = xhr.responseText;

                // 받은 문자열에 따라 원하는 동작 수행
                if (response === "true") {
                    // id > 이름 변경
                    alert("문정훈 매니저님 환영합니다.")

                    document.getElementById('slider').style.display = 'none';
                    document.getElementById('startForm').style.display = 'none'; // 제출 버튼 비활성화
                    document.getElementById('startBtn').style.display = 'none'; // 제출 버튼 비활성화

                    document.getElementById('doneForm').style.display = 'block'; // 제출 버튼 비활성화
                    document.getElementById('doneBtn').style.display = 'block'; // 제출 버튼 비활성화

                    // image-container 내부의 모든 input 태그 가져오기
                    const inputElements = document.querySelectorAll('#image-container input');

                    // 가져온 input 태그들을 순회하면서 비활성화
                    inputElements.forEach(input => {
                        input.disabled = false;
                    });
                }
                else {
                    alert("누군가 쓰고 있음.")
                }
            }
        };

        xhr.send();
    })
</script>

<!-- 디비에 입력된 값을 저장하는 함수 호출 부 -->
<script>
    const doneForm2 = document.getElementById('doneForm');

    // submit 이벤트가 발생하면 실행되는 함수
    doneForm2.addEventListener('submit', function(event) {
        // 폼의 기본 동작을 막음 (페이지 새로고침 방지)
        event.preventDefault();
        // JavaScript 코드

        const userId = "gkrry1424@naver.com"; // 사용자의 아이디를 변수에 할당

        // XMLHttpRequest 생성
        const xhr = new XMLHttpRequest();

        // done 엔드포인트에 GET 요청 보내기
        xhr.open("GET", `/done?id=${userId}`, true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    console.log("정상적으로 세션 종료. 다른 사용자 접속 허용");
                    // 여기에서 원하는 리다이렉션 로직을 추가할 수 있습니다.
                    window.location.href = "/admin"; // 예시로 "/admin"으로 리다이렉션
                    alert("정상적으로 저장됨.")
                } else {
                    console.log("외부 사용자가 종료 처리 요청함");
                }
            }
        };

        // 요청 보내기
        xhr.send();
    })
</script>
</html>