<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Document</title>
  <title>SK GHOST OP</title>
  <!-- 현재 사용자가 접속한 디바이스의 가로 세로 길이에 맞게 앱 사이즈를 조절함. 초기, 최대, 최소 비율은 모두 1이며, 사용자가 드레그로 크기 조정 불가능-->
  <script type="text/JavaScript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>

  <!-- CSS 선언 -->
  <link rel = "stylesheet" href = "css/OP/OP.css">
  <link rel = "stylesheet" href = "css/OP/EndReport.css">

  <!-- 카카오 API를 사용하기 위한 라이브러리 선언-->
  <script type="text/JavaScript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
  <script>
    Kakao.init('2e39201190179fe7cd5eb25903daba8a'); // SDK를 초기화 합니다. 애플리케이션 > 앱 설정 > 앱 키 : JAVASCRIPT KEY 입력하세요
    //console.log(Kakao.isInitialized()); SDK 초기화 여부를 판단합니다.
  </script>

  <!-- 자바스크립트 함수 선언 -->
  <script src = "../../JavaScript/go.js"></script>
  <script src = "../../JavaScript/loginOPWithKakao.js"></script>
  <script src = "../../JavaScript/loginWithKakaoForAdmin.js"></script>
  <script src = "../../JavaScript/unlinkWithKakao.js"></script>
  <script src = "../../JavaScript/shareMessage.js"></script>
  <script src = "../../JavaScript/sendToMe.js"></script>
  <script src = "../../JavaScript/sendFriends.js"></script>
  <script src = "../../JavaScript/getFriendUuid.js"></script>
  <script src = "../../JavaScript/refreshAccessToken.js"></script>
  <script src = "../../JavaScript/endReport.js"></script>
  <script src = "../../JavaScript/loginAram.js"></script>
  <script src = "../../JavaScript/loadingOn.js"></script>
  <script src = "../../JavaScript/loadingOff.js"></script>
</head>

<body id = "body">
<!--header-->
<header id = "header"> <!-- div 와  <header>의 차이란?>? -->
  <img id = "header_sk" src="css/images/Ghost.png" alt = "location images"> <!-- GHOST 트레이드 마크 -->
  <p id = "header_logo">SK GHOST OP</p>
</header>
<!--section-->
<div id = "section">
  <!--section_top-->
  <div id = "section_top">
    <img id="img1" src="css/images/OP1.png"/>
  </div>
  <!--section_botttom-->
  <div id = "section_bottom">
    <button id="custom-startwork-btn" onClick="sendToMe(); sendFriends()">
      <span class = "bntText">Start Work</span>
    </button>

    <button id="custom-endwork-btn" onClick="endReport()">
      <span class = "bntText"> End Work</span>
    </button>
  </div>
</div>

<div id = "footer">
  <span id ="footer_text">You are best</span>
</div>

</body>
<script>
  /*
  Kakao.Auth.getStatusInfo(function(statusObj) {
    if (statusObj.status === 'connected') {
      loginAram(statusObj.user.kakao_account.profile.profile_image_url, statusObj.user.properties.nickname)

    }
  })
  */
</script>

</html>

